.page-header {
  border-bottom: solid 1px rgba(236, 236, 236, 1);

  .page-header__container {
    position: relative;

    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
}