.meta {
    flex-grow: 1;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  
    border: 1px solid #eeeeee;

    .meta__title {
      margin-bottom: 4px;
    
      color: var(--title-color);
    
      @include font(700, 18px, 2, 0.06em);
    }
    
    .meta__text {
      color: inherit;
    
      @include font(null, 16px, 1.87, 0.03em);
    }
}


